@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

main {
    min-height: 96vh;
    width: 100%;
    background-image: url(Background.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

main::after {
    content: "";
    background-color: black;
    z-index: -2;
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1em 0px;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

nav img {
    max-width: 150px;
    min-width: 100px;
    /* width: clamp(50px, 50vw, 170px); */
}

nav button {
    font-size: 1rem;
    padding: 0.25em 0.5em;
    border-radius: 4px;
    font-weight: 600;
    margin: clamp(1px, 1vw, 0.25em)
}

.red {
    background-color: red;
    color: white;
    border: 1px solid red;
}

.transparent {
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
    border: 1px solid white;
    padding: 0.25em 1em;
}

.hero {
    color: white;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero h1,
.hero h2,
.hero h3 {
    max-width: 60ch;
    text-align: center;
}

.hero h1 {
    font-weight: 800;
    font-size: clamp(2.5rem, 9vw, 4rem);
}

.hero h3 {
    font-weight: 500;
    font-size: clamp(1.25rem, 5vw, 2rem);
}

.hero h2 {
    font-weight: 500;
    font-size: clamp(1rem, 6vw, 1.5rem);
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.field input,
.field button {
    font-size: clamp(1rem, 6vw, 1.5rem);
    padding: 0.5em;
    border-radius: 4px;
    border: none;
}

.field input {
    width: clamp(290px, 350px, 40vw);
    background-color: rgba(0, 0, 0, 0.44);
    border: 1px solid white;
    color: white;
}

.field button {
    color: white;
    background-color: hsl(0, 90%, 50%);
    font-weight: 700;
    border: 1px solid hsl(0, 90%, 50%);
}

.games {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
}

.games h1 {
    font-size: clamp(1.25rem, 4vw, 2rem);
    padding: 10px 0;
}

.boxes h1,
.question h2,
.question i {
    font-size: clamp(1.15rem, 3.5vw, 1.5rem);
    padding: 10px 0;
}

.big-text {
    font-size: clamp(1.5rem, 4vw, 1.75rem) !important;
    padding: 1em 0;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 50%;
    padding: 1em;
}

.image {
    position: absolute;
    top: -100px;
    right: -200px;
}

.box p,
.boxes p {
    /* width: 50%; */
    font-size: 1rem;
    /* width: 70ch; */
}

.box-container {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    gap: 10px;
    width: 100%;
    border-radius: 10px;
    min-height: 400px;
    position: relative;
    overflow: hidden;
}

.boxes {
    width: 80%;
    margin: 0px auto;
    padding: 10px;
}

.card {
    min-height: 280px;
    /* max-width: 280px; */
    min-width: 250px;
    padding: 1em;
    border-radius: 10px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 1) 100%);
    background-color: red;
    position: relative;
}

.card i {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 4rem;
}

.card h1 {
    padding: 1em 0;
}

.card-holder {
    display: grid;
    justify-content: stretch;
    align-items: stretch;
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(auto-fit, 280px);
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.questions {
    width: 80%;
    margin: 0 auto;
}

.questions {
    padding: 1rem;
}

.question h2 {
    width: 90%;
    font-weight: 400;
}

.question {
    min-width: 90%;
    max-width: 700px;
    margin: 15px 0;
    padding: 1em;
    background-color: hsla(0, 0%, 26%, 0.678);
    position: relative;
    display: flex;
    align-items: center;
}

.question:hover {
    background-color: hsla(0, 0%, 36%, 0.678);
    cursor: pointer;
}

.question i {
    position: absolute;
    right: 1em;
    font-weight: 400;
}

.last {
    width: 90%;
    margin: 0px auto;
    padding: 1rem 0;
}

.last h2 {
    font-weight: 400;
    font-size: clamp(1rem, 6vw, 1.5rem);
    text-align: center;
    margin: 20px 0;
}

footer {
    color: grey;
    width: 80%;
    padding: 1rem;
    margin: 10px auto;
}

.underline {
    text-decoration: underline;
    color: gray;
}

.links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0px;
}

.link {
    list-style-type: none;
}

.link li,
footer p {
    font-size: 1rem;
}

.link li {
    padding: 5px;
    text-decoration: underline;
}

.mobile {
    display: none;
}

@media (width <=1400px) {
    .image img {
        scale: 0.7;
    }
}

@media (1013px < width < 1350px) {
    .card-holder {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (790px < width < 1040px) {
    .links {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width <=1300px) {
    .image {
        top: -40px;
        right: -250px;
    }
}

@media (width < 350px) {
    nav img {
        max-width: 100px;
    }
}

@media (width < 450px) {
    .mobile {
        display: inline-block;
    }
    
    .desktop {
        display: none;
    }
}

@media (width < 750px) {
    .box-container {
        min-height: 200px;
    }
}

@media (width <=730px) {
    .box {
        width: 100%;
    }

    .box-container {
        gap: 40px;
    }

    .image {
        position: static;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
        /* overflow: hidden; */
    }

    .image img {
        position: static;
        scale: 0.5;
        /* width: 200px; */
        /* height: 200px; */
    }
}

footer button {
    font-size: 1rem;
    padding: 0.25em 0.5em;
    border-radius: 4px;
    font-weight: 600;
    margin: 40px;
    background-color: hsla(0, 7%, 12%, 0.522) !important;
}